extends layout

block content
  div#myBody
    link(rel='stylesheet', href='/stylesheets/style.css')
    .w3-row.w3-padding-16
      .w3-twothird.w3-container
        h1.w3-text-deep-orange Call Logs
        div
          table
            thead
              tr: th(style="display: none") _id
                th Interaction ID
                th Name
                th Number
                th Connected Time
                th Call Log ID
                th Notes
            tbody
              each log, i in callLogs
                tr
                  td(style="display: none")
                    label(style="display: none")= log._id
                  td
                    label= log.InteractionId
                  td
                    label= log.Name
                  td
                    label= log.Number
                  td
                    label= log.ConnectedTime
                  td
                    label= log.CallLogId
                  td
                    label= log.Notes