extends layout

block content
  div#myBody
    link(rel='stylesheet', href='/stylesheets/style.css')
    .w3-row.w3-padding-16
      .w3-twothird.w3-container
        h1.w3-text-deep-orange Create Campaign
        form#newCampaignForm(method="post" )
          div
            div.block
              label= "Campaign Name: "
              input#campaignName(name="campaignName" type="text", placeholder="Campaign Name", style="margin: 5px")
            div.block
              label= "Contact List: "
              select#contactList(name="contactList", style="margin: 5px; width: 180px")
                each contactList, i in contactLists
                  option(value=contactList.ContactListId)= contactList.ContactListName
            div.block
              label= "Queue: "
              select#outBoundQueue(name="outBoundQueue", style="margin: 5px; width: 180px")
                each queue, i in queues
                  option(value=queue.id)= queue.name
            div.block
              label= "Caller Name: "
              input#callerName(name="callerName" type="text", placeholder="Caller Name", style="margin: 5px")
            div.block
              label= "Caller Address: "
              input#callerAddress(name="callerAddress" type="text", placeholder="Caller Address", style="margin: 5px")
            div.block
              button#btnSubmit(type="submit" style="margin: 5px; margin-left: 275px") Add
    .w3-row.w3-padding-16
      .w3-twothird.w3-container
        h1.w3-text-deep-orange Campaign List
        div
          table
            thead
              tr: th(style="display: none") _id
                th Name
                th Campaign ID
                th Contact List
                th Queue
                th Caller Name
                th Caller Address
                th Progress (%)
            tbody
              each campaign, i in campaignList
                tr
                  td
                    label= campaign.campaignName
                  td
                    label= campaign.campaignId
                  td
                    label= campaign.contactList
                  td
                    label= campaign.outBoundQueue
                  td
                    label= campaign.callerName
                  td
                    label= campaign.callerAddress
                  td 
                    label= campaign.progress